 <h3>Ingrese las dimensiones de su campo de juego</h3>
 <form method='post' action='/saveDimension'>
    <div class="form-group">
        <label for="largo">Largo</label>
        <input type = 'text' class="form-control" id="largo" name='largo' placeholder="Ingrese el largo">
    </div>
    <div class="form-group">
        <label for="ancho">Ancho</label>
        <input type = 'text' class="form-control" id="ancho" name='ancho' placeholder="Ingrese el ancho">
    </div>
    <input type='submit' class="btn btn-primary" value='Enviar'>
</form>