<h1>Ingrese la posicion en coordenadas y el area del campo de juego</h1>

<form method='post' action='/position'>
    Altura: <input type = 'text' name='altura'>
    Base: <input type = 'text' name='base'>
    Coordenada en X: <input type = 'text' name='coordenadaX'>
    Coordenada en Y: <input type = 'text' name='coordenadaY'>
    Realizar movimiento: <input type = 'text' name='movimiento'>
    <input type='submit' value='Enviar'>
</form>


