<head>
<!doctype html>
<html lang="en">
  <head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dash&Dot</title>
  </head>
  <body>
      <div class="container text-center ">
            <h1 id="tit"><strong>Vamos a jugar!</strong></h1>
            <blockquote class="blockquote text-center">
                <p class="mb-0">La dimension del campo de juego es de: <%= @dimension %>m2</p>
            </blockquote>
            <form method='post' action='/position'>
                <h3 >Ingrese la posicion inicial de su robot en coordenadas (X, Y) y la orientacion N Norte, S Sur, E Este, O Oeste</h3>
                <div class="form-group">
                <label for="coordenadaX">Coordenada X</label>
                    <input type = 'text' class="form-control" id="coordenadaX" name='coordenadaX' placeholder="Ingrese posicion en X">
                </div>
                <div class="form-group">
                <label for="coordenadaY">Coordenada Y</label>
                    <input type = 'text' class="form-control" id="coordenadaY" name='coordenadaY' placeholder="Ingrese posicion en Y">
                </div>
                 <div class="form-group">
                <label for="orientacion">Orientacion</label>
                    <input type = 'text' class="form-control" id="orientacion" name='orientacion' placeholder="Ingrese la orientacion">
                </div>
                <hr>
                <h4 >Para mover a su robot de la posicion inicial ingrese A para moverlo adelante, I para moverlo a la izquierda, D para moverlo a la derecha</h4>
                <div class="form-group">
                <label for="movimiento">Movimiento</label>
                    <input type = 'text' class="form-control" id="movimiento" name='movimiento' placeholder="Ingrese el movimiento a realizarse">
                </div>
                <input type='submit' class="btn btn-primary" name='Agregar Auto' value='Agregar Auto'>
            </form>
            <form method='get' action='/finish'>
                <label for="Terminar">Terminar</label>
                <input type='submit' class="btn btn-primary" id='Terminar' name='Terminar' value='Terminar'>
            </form>
        </div>
      </div>
    <!-- JQuery -->

  </body>
</html>
