<h1>Ingrese la posicion inicial por la cual quisiera empezar</h1>

<form method='post' action='/position'>
    Coordenada en X: <input type = 'text' id='coordenadaX' name='coordenadaX'>
    Coordenada en Y: <input type = 'text' id='coordenadaY' name='coordenadaY'>
    <input type='submit' value='Enviar'>
</form>